<div class="article-container" *ngIf="article">
    <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="article-title"> {{article.title}}</h1>
    <div class="article-info" *ngIf="article.user">
        <span>{{ article.user.firstname }} {{ article.user.lastname }} </span>
        <span>{{ article.date | date: 'shortDate' }}</span>
        <span>{{ article.subject.name }}</span>
    </div>

    <mat-divider></mat-divider>

    <mat-card class="article-content">
        <p>
            {{ article.content }}
        </p>
    </mat-card>

    <mat-divider></mat-divider>

    <h2>Commentaires</h2>

    <div class="comment-container" *ngIf="comments.length > 0">
        <mat-card class="comment-card" *ngFor="let c of comments">
            <span class="username" *ngIf="c.user">{{ c.user.firstname }} {{ c.user.lastname }}</span>
            <p>{{ c.content }}</p>
        </mat-card>
    </div>

    <mat-form-field appearance="outline" class="comment-input" [formGroup]="form">
        <textarea matInput placeholder="Écrivez ici votre commentaire" rows="3" formControlName="content" name="content"
            id="content"></textarea>
    </mat-form-field>

    <button mat-icon-button class="send-button">
        <mat-icon (click)="send()">send</mat-icon>
    </button>
</div>