img {
    width: 10%;
}

div {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

div ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

div ul a {
    color: black;
    text-decoration-line: none;
}