<h1 class="title">Inscription</h1>

<div class="form-container">
    <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Prénom de l'utilisateur</mat-label>
                <input matInput type="text" formControlName="firstname" placeholder="Entrez votre prénom">
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Nom de l'utilisateur</mat-label>
                <input matInput type="text" formControlName="lastname" placeholder="Entrez votre nom">
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email de l'utilisateur</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Entrez votre email">
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Entrez votre mot de passe">
            </mat-form-field>

            <div class="button-container">
                <button mat-raised-button color="primary" type="submit">S'inscrire</button>
            </div>
        </form>
    </div>
</div>