.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.container-btn {
  display: flex;
  gap: 30px;
  width: 100%;
  text-align: center;
  justify-content: center;
}